body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: #FAF9F6;
  }
  
  /* Login/Signup Page */
  .login-form-bar {
    height: 100%;
    width: 460px; 
    position: fixed;
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #F9F6EE;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* img {
    height: 1100px;
    width: 100%;
    position: right;
  } */
  
  .form_padding {
    padding: 20px;
  }
  
  .login-img {
    background-image: url(./images/pexels-sunsetoned-7283618.jpg);
    margin-right: 460px; 
    padding: 0px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex; */
    color: white;
    /* justify-content: flex-start; */
  }

  .bg-text {
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  }

  .space {
    height: 1000px;
    width: 500px;
  }

  /* Sidebar */
aside {
    height: 100%;
    width: 160px; 
    position: absolute;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #F9F6EE;
    overflow-x: hidden;
    padding-top: 0px 10px;
  }
  
aside button {
    position: absolute;
    bottom: 0px;
  }
  
  /* The navigation menu links */
  .ui.color.vertical.menu{
  background-color: #F9F6EE;
  color: black;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
  
  /* Page Body */
.main {
    margin-left: 200px; 
    padding: 0px 10px;
  }

  .background {
    justify-content: center;
  }

  /* Logo */
h1 {
    font-family: 'Architects Daughter';
    font-size: 40px;
  }

.logo {
    border-bottom: 1px solid #99C1B9;
  }

.errors {
    color: red;
  }

  /* Landing Page */
.list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

.header {
    background-color: #F1E3D3;
    height: 37px;
  }

.footer {
    border-top: 1px solid #99C1B9;
    color: #707070;
    text-align: left;
    padding-bottom: 2px;
    padding-left: 3px;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
  }

  /* Checkbox */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a pink background */
.container input:checked ~ .checkmark {
  background-color: #F1E3D3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dreamTitle {
  width: 230px;
}

.form-row{
  display: flex;
  justify-content: center;
}

/* Memory Page */
.memory_obj {
  padding: 20px;
  background-color: #F1E3D3;
}

.vertical-img {
  max-width: 400px;
  max-height: 500px;
}

.horizontal-img {
  max-width: 350px;
  max-height: 200px;
}

.mem-desc {
  background-color: #ffffff;
}