body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.errors {
  color: red;
}

.footer {
  border-top: 1px solid gray;
  color: #707070;
  text-align: left;
  padding-bottom: 2px;
  padding-left: 3px;
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
}

/* .card {
  border: 1px solid purple;
  display: flex;
  justify-content: center;
  background-color: plum;
  flex-direction: row;
} */

.title {
  border: 2px dotted black;
  background-color: green;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header {
  background-color: #F1E3D3;
}
/* .content {
  background-color: plum;
  padding: 7px;
} */
.extra content {
  background-color: #F1E3D3
}